node_modules
.git
.gitignore
.env
.env.*
!.env.production.example
Dockerfile
railway.toml
*.md
.vscode
.idea
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
public/build
public/hot
public/storage
